/* <![CDATA[ */

/* $Id$ */

div.module-shell {
    margin-top:    10px;
    margin-bottom: 10px;
}

#module-shell-cwd {
    font-weight: bold;
}

#module-shell-cwdPath {
    font-weight: normal;
}

div.module-shell .module-shell-shell {
    margin-top: 10px;
    padding:    10px;
}
div.module-shell .module-shell-shell, .module-shell-shell * {
    font-family: monospace;
}

#module-shell-result {
    height:   400px;
    overflow: auto;
}

#module-shell-command {
    border:      none;
    font-weight: bold;
}

div.module-shell .module-shell-command {
    font-weight: bold;
}

div.module-shell .module-shell-result {
    white-space: pre;
    line-height: 1em;
}

#module-shell-form {
    margin: 0px !important;
}

/* // ]]> */
