/* <![CDATA[ */

div.module-helloworld-block div.module-helloworld-infos {
    padding:          5px;
    margin:           5px;
    font-size:        10px;
    background-color: #FFFFFF;
    border:           solid 1px #D3E7F4;
}

div.module-helloworld-block div.module-helloworld-modules {
    float:            left;
    width:            45%;
    padding:          5px;
    margin:           5px;
    font-size:        10px;
    background-color: #EDF5FA;
    border:           solid 1px #D3E7F4;
}

div.module-helloworld-block div.module-helloworld-backtrace {
    float:            right;
    width:            45%;
    padding:          5px;
    margin:           5px;
    font-size:        10px;
    background-color: #EDF5FA;
    border:           solid 1px #D3E7F4;
}

/* // ]]> */
