/* <![CDATA[ */

/* $Id$ */

div.module-aoptest-aopDebug pre {
    padding:          5px;
    margin:           5px;
    font-size:        10px;
    background-color: #FFFFFF;
    border:           solid 1px #D3E7F4;
}

/* // ]]> */
