/* <![CDATA[ */

/* $Id$ */

div.module-aoptest-aopDebug {
    font-size:        0.8em;
    background-color: #FFFFFF;
    color:            #0062A0;
}

div.module-aoptest-description {
    padding:          5px;
    margin-top:       5px;
    font-size:        0.8em;
    background-color: #FFFFFF;
    border:           solid 1px #D3E7F4;
}

/* // ]]> */
